.login-page {
  display: flex;
  padding: 0% 8% 0% 8%;
  justify-content: space-around;
}

.leftie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  margin-top: 10%;
  border: solid;
  border-radius: 15px;
  border-color: seagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.login-field {
  width: 60%;
  border-radius: 12px;
  padding: 6px;
  margin: 12px;
}

.login-button {
  border-radius: 25px;
  padding: 15px 25px 8px 25px;
  margin-bottom: 20px;
}

.login-alert {
  color: red;
}

.signup-link {
  padding-bottom: 5%;
}