button {
  background-color: revert;
  border: revert;
  color:  revert;
  font-size: revert;
  border-radius: revert;
  height: revert;
  margin: revert;
  font-family: revert;
}

.calendar-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.calendar {
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
  /* padding: 0 5px;
  border-radius: 8px; */
  border: solid;
  border-color: black;
}

